@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

header {
    background-color: #ECE8D5;
    height: fit-content;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    max-width: 1020px;
    padding: 1rem 1.5rem;
    margin: 0 auto;
}

.logo {
    flex-grow: 1;
}

.logo i {
    text-decoration: none;
    color: #6B9D46;
    font-size: 2.5rem;
}

.menu-desktop-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    display: none;
}

/*--- MENU MOBILE ---*/
.menu-mobile-list {
    display: none;
    position: absolute;
    right: 1.5rem;
    top: 5rem;
    padding: 10px;
    width: 280px;
    background-color: #ECE8D5;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, .1);
}

.menu-mobile-list .menu-item {
    text-align: center;
    padding: 2rem;
}

.open {
    display: block;
}
/*--- END ---*/

.menu-item a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #B75724;
    padding: 8px 10px;
    transition: color .2s;
}

.menu-item a:hover {
    color: #000;
}

button {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.sign-btn {
    height: 2.5rem;
    border: 1px solid #6B9D46;
    background-color: transparent;
    color: #6B9D46;
    transition: box-shadow .3s;
}

.sign-btn:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}

.menu-mobile-btn {
    padding: 3px;
    height: 3rem;
    width: 3rem;
    color: #6B9D46;
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.menu-mobile-btn i {
    font-size: 2rem;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .menu-mobile-list {
        display: none;
    }

    .menu-desktop-list {
        display: flex;
    }

    .menu-mobile-btn {
        display: none;
    }

    .logo {
        flex-grow: 0;
    }
}